
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
}

.cart__empty {
    text-align: center;
}

.cart__empty > p {
    font-size: 1.2rem;
    font-weight: 500;
}

.cart__product {
    display: flex;
    flex-flow: row nowrap;
    width: 30rem;
    background-color: #fff;
}

.cart__product > img {
    width: 12rem;
}

.cart__product > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

.cart__product > div > h3 {
    margin: 0;
}

.cart__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4rem;
    margin: 2rem;
    font-size: 1.2rem;
}