form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input {
    border: none;
    border-bottom: 1px solid #262626;
    background-color: transparent;
    margin-bottom: 9px;
    width: 300px;
    height: 2rem;
}

form button {
    margin-top: 6px;
}