.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-items: center;
}

@media (max-width: 480px) {
    .products {
        justify-content: space-evenly;
    }
}