.detail {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    width: 43.75rem;
    height: 23rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}

.detail__image {
    width: 50%;
}

.detail__image img {
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.detail__info {
    display: flex;
    flex-flow: column;
    padding: 30px 60px;
}

.detail__info h3 {
    font-size: 20px;
    font-weight: 500;
}

.detail__info span {
    font-size: 24px;
    font-weight: 700;
}

.detail__info p {
    font-size: 14px;
    line-height: 1.8;
}

.buying-controller {
    display: contents;
    height: 6rem;
}

@media (max-width: 480px) {
    .detail {
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 95%;
        height: 680px;
        margin-bottom: 4rem;
    }

    .detail__image {
        width: 100%;
    }

    .detail__image img {
        width: 100%;
    }

    .detail__info {
        padding: 0 10% 10%;
        align-items: center;
    }

    .detail__info p {
        text-align: center;
        padding: 0;
    }
}