.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    border-radius: 8px; 
}

@media (max-width: 768px) {
    .detail-container {
        padding-top: 8rem;
        height: 100%;
    }
}