.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9rem;
}

.counter__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 8rem;
    margin: 0 auto;
}

.counter__control p {
    background-color: #fff;
    border-radius: 3px;
}