header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    width: 100%;
}

.nav {
    height: 4rem;
    background-color: #111;
    margin-bottom: 4rem;
}

.nav__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.nav__icon {
    width: 50%;
}

.nav__icon img {
    height: 3.2rem;
    margin-top: 6px;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: 16rem;
}

.nav__menu ul a {
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
    cursor: pointer;
}