.nav {
    height: 4rem;
    background-color: #262626; 
}

.nav__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav__title {
    color: #fff;
    line-height: 1.5rem;
}

.nav__menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: 18rem;
}

.nav__menu ul a {
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
    cursor: pointer;
}