.App {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 7px 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.button--primary {
  background-color: #065fd4;
  color: #fff;
}